<%# Checks if user is signed in %>
<% if @notes %>
  <div class="container-fluid d-flex mt-3">
    <div class="sidebar col-3">
      <h4>Projects</h4>
      <%= render "shared/tasks_sidebar", project: @projects %>
      <%# <%= render "kanban", project: @project %>
    </div>
    <div class = "container">
      <h4>Welcome to your Sticky Notes</h4>
      <%= link_to " Add a new note", new_note_path() %>
      <div class = "note-grid container">
        <% @notes.each do |note| %>
          <div class = "card">
            <%= link_to "#{note.title}", edit_note_path(note) %><br>
            <%= note.description %>
            <%= link_to "Delete",
                              note_path(note),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
