<% # Checks if user is signed in %>
<% if @notes %>
 <div class="container-fluid">
  <div class="row min-height-viewport">
<div class="col-md-3 pt-3 pnp_bg_blue max-height-viewport overflow-y-scroll">
        <%= render "shared/tasks_sidebar", project: @projects %>
      </div>
<div class="dashboard col-md-9 pt-3 max-height-viewport overflow-y-scroll">
        <div class ="wrapper w-100 p-2" >
          <h1>Welcome to your Sticky Notes</h1>
          <br>
      <%= link_to " Add a new note", new_note_path() %>
      <br>
      <div class = "note-grid container mb-5">
      <% colorhash = { "Red" => "#ffa9a9", "Green" => "#92f792", "Yellow" => "#ffff8e" } %>
        <% @notes.each do |note| %>
          <div class = "fixed-card p-5" style="background-color: <%= colorhash[note.colour] %>">
            <h3><%= link_to "Title: #{note.title}", edit_note_path(note) %></h3>
            <h4><%= note.description %></h4>
            <%= link_to "Delete",
                        note_path(note),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
     </div>
  </div>
<% end %>
