<%# Checks if user is signed in %>
<% if @chatrooms %>
  <div class="container-fluid d-flex mt-3">
    <div class="sidebar col-3">
      <h4>Projects</h4>
      <%= render "shared/tasks_sidebar", project: @projects %>
      <%# <%= render "kanban", project: @project %>
    </div>
    <div class = "container">
      <h4>Welcome to the Company chatroom Database</h4>
      <%= link_to "create a new chatroom", new_chatroom_path() %>
      <div class = "chatroom-grid container">
        <% @chatrooms.each do |chatroom| %>
          <% "Chat Members: #{array_project = chatroom.users.each} " %>
          <% if array_project.include?(current_user) || current_user.admin%>
            <div class = "card">
              <%= link_to chatroom.name, chatroom_path(chatroom) %>
              <% array_project.map do |id|
                     id.first_name
                   end %>
              <%= "Project Team Members: " %>
              <% array_project.each do |user| %>
                <%= "#{user.first_name}  |  " %>
              <% end %>
              <%= link_to "Delete",
                              chatroom_path(chatroom),
                              method: :delete,
                              data: { confirm: "Are you sure?" } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
