<% # Checks if user is signed in %>
<% if @users %>
  <div class="container-fluid">
    <div class="row min-height-viewport">
      <div class="col-md-3 pt-3 pnp_bg_blue max-height-viewport overflow-y-scroll">
        <%= render "shared/tasks_sidebar", project: @projects %>
      </div>
      <div class="dashboard col-md-9 pt-3 max-height-viewport overflow-y-scroll">
        <div class ="wrapper w-100 p-2" >
          <h1>HR Payroll and Employee Details</h1>
          <br>
          <div class = "card p-2">
            <h2>Search for an employee.</h2>
            <%= search_form_for [@q] do |f| %>
              <%= f.label :email_cont %>
              <%= f.search_field :email_cont %>
              <%= f.label :first_name_cont %>
              <%= f.search_field :first_name_cont %>
              <%= f.label :last_name_cont %>
              <%= f.search_field :last_name_cont %>
              <%= f.submit %>
            <% end %>
          </div>
          <br>
          <h2>Search Results:</h2>
          <% @search.each do |user| %>
            <div class = "card p-2">
              <%= link_to "#{user.first_name} #{user.last_name} ", edit_user_path(user) %><br>
              <%= "Email: #{user.email}, Position: #{user.position}, Phone: #{user.phone}, #{user.gender}, Pay: #{user.salary}, Id: #{user.id}" %>
              <br>
              <%= "Pay Due in Next Two Days? #{user.pay_due}" %>
              <% if user.pay_due == "Yes" %>
                <span class="badge badge-pill badge-danger">Due</span>
              <% end %>
              <% init = 0 %>
              <% Project.all.each do |project| %>
                <% project.tasks.each do |task| %>
                  <% if task.user_ids.include?(user.id) && task.duration %>
                    <% init += task.duration %>
                  <% end %>
                <% end %>
                <%= "Spent #{init} hrs on project: #{project.name}" %>
                <br>
                <% init = 0 %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
