<div class="container-fluid pnp_bg_login">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-8 bg-white shadow">
      <div class="row">
        <div class="col-md-3 pnp_bg_blue pr-0">
          <div class="d-flex flex-column align-items-center h-100">
            <div class="my-auto ml-auto pnp_login_register_page">
              <%= link_to "Log In", new_session_path(resource_name), class: "btn btn-block text-white text-right" %>
              <%= link_to "Sign Up", new_registration_path(resource_name), class: "btn btn-block text-white text-right" %>
              <%= link_to "Forgot Password?", new_password_path(resource_name), class: "btn btn-block bg-white pnp_login_button_radius text-right" %>
            </div>
          </div>
        </div>

        <div class="col-md-9 py-5 text-center">
          <p class="pnp_logo_blue pnp_logo_blue_120px mx-auto"></p>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-group row mt-4">
              <label for="user_email" class="col-sm-3 col-form-label">Email Address*</label>

              <div class="col-sm-9 my-auto">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            label: false,
                            placeholder: "Email Address",
                            wrapper_html: { class: "mb-0" },
                            input_html: { autocomplete: "email" } %>
              </div>
            </div>
            
            <div class="form-actions text-center mt-4">
              <%= f.button :submit, "Reset Password", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
document.getElementById("pnp_navbar").style.setProperty('display', 'none', 'important');
document.getElementById("pnp_navbar_responsive").style.setProperty('display', 'none', 'important');
</script>