<nav class="nav flex-column sticky-top pb-5">
  <h3 class="text-white font-weight-bold navbar-brand">Projects</h3>
  
  <!-- Get Projects -->
  <% @projects.each do |project| %>
    <% if project.user_ids.include?(current_user.id) || current_user.id == project.created_by || current_user.admin %>
      <% if request.fullpath.last.to_i == project.id %>
        <div class="card border border-info bg-info rounded-lg mb-3 px-2 py-3">
      <% else %>
        <div class="card border border-secondary bg-white rounded-lg mb-3 px-2 py-3">
      <% end %>

        <div class="card-body p-0 py-1">
          <div class="d-flex">
            <h4 class="card-title flex-grow-1 mb-0">
              <%= link_to "#{project.name}", project_path(project), class: "nav-link active mb-0 pl-0" %>
            </h4>
            
            <%= link_to new_project_task_path(project), class: "mr-2", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Add New Task" do %>
              <i class="bi bi-file-earmark-plus" style="font-size: 1.25rem;"></i>
            <% end %>

            <%= link_to edit_project_path(project), class: "mr-2", 'data-toggle' => "tooltip", 'data-placement' => "top", title: "Edit Project" do %>
              <i class="bi bi-pencil" style="font-size: 1.25rem;"></i>
            <% end %>

            <%= link_to project_path(project),
                method: :delete,
                data: { confirm: "Are you sure?" },
                'data-toggle' => "tooltip",
                'data-placement' => "top",
                title: "Delete Project" do %>
              <i class="bi bi-trash" style="font-size: 1.25rem;"></i>
            <% end %>
          </div>

          <div class="progress my-2">
            <div class="progress-bar" role="progressbar" style="width: <%= project.progress %>%" aria-valuenow="<%= project.progress %>" aria-valuemin="0" aria-valuemax="100"><%= project.progress %>%</div>
          </div>
          
          <div class="row">
            <% if project.start_date %>
              <div class="col-6">
                <p class="mb-0 small">Start Date</p>
                <p class="mb-0"><%= project.start_date.strftime("%d %B %Y") %></p>
              </div>
            <% end %>

            <% if project.end_date %>
              <div class="col-6">
                <p class="mb-0 small">Due Date</p>
                <p class="mb-0"><%= project.end_date.strftime("%d %B %Y") %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if current_user.position != "employee" %>
    <div class="card border border-secondary bg-white text-center rounded-lg">
      <div class="card-body p-0 py-1">
        <i class="bi bi-plus" style="font-size: 1.75rem;"></i>
        <h5 class="card-title mb-0 mt-n2"><%= link_to "Create New Project", new_project_path(), class: "nav-link stretched-link pt-0" %></h5>
      </div>
    </div>
  <% end %>
</nav>
