<% if false %>
  <%= form_with url: kanban_sort_path, method: :patch do |f|%>
    <%= f.text_field 'kanban[kanbanIds]', class: "kanban-form-input" %>
    <%= f.submit "Saved changes" %>
  <% end %>
<% end %>
<div class="kanban" data-id="<%= @kanban.first.id %>">
  <% @kanban.first.kanban_columns.each do |column| %>
    <ul class="kanban-col" data-col-id=<%= column.id %> >
      <li class="kanban-col-name"><%= column.name %></li>
      <% column.tasks.sort_by{ |task| task.position || 0}.each do |item| %>
        <li class="kanban-col-item" data-item-id=<%= item.id %> >
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
