<% # Checks if user is signed in %>
<% if user_signed_in? %>
  <div class="container-fluid mt-3 min-height-viewport">
    <div class="row">
      <div class="col-md-3 pt-3 pnp_bg_blue">
        <%= render "shared/projects_sidebar", project: @projects %>
        <% # <%= render "kanban", project: @project %>
      </div>

      <div class = "dashboard container h-100">
        <div class = "graph card">
          <h4>All Task Statuses</h4>
          <%= pie_chart @tasks.group(:status).count %>
        </div>
        <div class = "graph card">
          <h4>All Projects Progress %</h4>
          <%= bar_chart @projects.group(:name).sum(:progress) %>
        </div>
        <div class = "deadlines card">
          <h4>Deadlines</h4>
          <div class = "deadlines-projects">
            <h5>Projects</h5>
            <% @projects.each do |project| %>
              <%= project.name %>
            <% end %>
          </div>
          <div class = "deadlines-projects">
            <h5>Start Date</h5>
            <% @projects.each do |project| %>
              <% if project.start_date %>
                <%= project.start_date.strftime("%d %B") %>
              <% end %>
            <% end %>
          </div>
          <div class = "deadlines-projects">
            <h5>Deadlines</h5>
            <% @projects.each do |project| %>
              <% if project.end_date %>
                <%= project.end_date.strftime("%d %B") %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class = "members card">
          <% @projects.each do |project| %>
            <div>
              <li>
                <%= project.name %>
                <img src="" alt="">
                <% "No. of members: #{array_project = project.users.each} " %>
                <%= "No. of members #{array_project.size}" %>
                <li>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class ="notifications container col-3">
          <h4>Notifications</h4>
          <% if @notifications %>
            <% @notifications.order(id: :desc).each do |notification| %>
              <%  if Chatroom.find(notification.params[:message].chatroom_id)%>
                <% @chatroom = Chatroom.find(notification.params[:message].chatroom_id) %>
              <% end %>
              <%= link_to "'#{notification.params[:message].created_at.strftime("%a %b %e")} You received a new message from chatroom: #{@chatroom.name} - #{notification.params[:message].content}'", chatroom_path(@chatroom) %>
              <br>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%#render new_user_session_path %>
<% end %>
