<% if current_user %>
  <%= simple_form_for (@project_new) do |f| %>
    <%= f.input :progress, :as => :hidden, :input_html => { :value => "0" } %>
    <%= f.input :status, :as => :hidden, :input_html => { :value => "not_started" } %>
    <%= f.input :created_by, :as => :hidden, :input_html => { :value => current_user.id } %>
    <div class="form-group">
      <label for="project_name">Project Name*</label>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Project Name",
                  wrapper_html: { class: "mb-0" } %>
    </div>
    <div class="form-group">
      <label for="project_start_date_1i">Start Date*</label>
      <%= f.input :start_date,
                  required: true,
                  label: false,
                  wrapper_html: { class: "mb-0" } %>
    </div>
    <div class="form-group">
      <label for="project_end_date_1i">Due Date*</label>
      <%= f.input :end_date,
                  required: true,
                  label: false,
                  wrapper_html: { class: "mb-0" } %>
    </div>
    <div class="form-group">
      <label for="project_user_ids">Assign To*</label>
      <%= f.association :users,
                        # required: true,
                        label: false,
                        label_method: :first_name,
                        wrapper_html: { class: "mb-0" } %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
    <%= f.submit "Add Project", class: "btn btn-primary" %>
  </div>
<% end %>
<% end %>
