
<%= form_with(model: @wiki, local: true) do |form| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this   @wiki from being saved:</h2>
      <ul>
        <% @wiki.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
    <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
