<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kanban.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kanban.description %>
</p>

<p>
  <strong>Cards:</strong>
  <%= @kanban.cards %>
</p>

<%= link_to 'Edit', edit_kanban_path(@kanban) %> |
<%= link_to 'Back', kanbans_path %>
